#container {
  width: 100%;
  height: 100%;
  position: relative;
}

#title {
  font: 26px sans-serif;
  position: absolute;
  top: -40px;
  left: 450px;
}

#FilterableTable {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40px;
  left: 20px;
}

.SearchBar { 
  display: inline; 
  position: relative;
  left: 1%;
  color: white;
  height: 30px;
  border: 2px solid royalblue;
  background-color: #4393c3;
}

.SearchBar::placeholder {
  color: white;
}

.SearchBar input {
  position: relative;
  left: 2%;
}

table { 
  top: 40px;
  left: 20px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table a:link, a:visited { text-decoration: none; }

table a:hover, a:active { text-decoration: underline; }

table, th, td { border: 1px solid black; }

td, th {
  padding: 5px;
  text-align: center;
  height: 20px;
}

th {
  background-color: #4393c3;
  color: #d9f0a3;
}

td { background-color: #92c5de; }

tr:hover td { background-color: #edf8b1; }

svg {
    background-color: blueviolet;
    color: white;
}

.bar {
    fill: #fff;
}

.bar:hover {
    fill: green;
}


.axis text {
    font-weight: bold;
}